#contact_modal {
    display: none;
}

.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    padding: 0 50px;
}

.photograph-header div {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}

.photograph-header img {
    border-radius: 50%;
    object-fit: cover;
    height: 200px;
    width: 200px;
}

.photograph-header h2 {
    color: #D3573C;
    font-size: 3rem;
    font-weight: 100;
    margin: 0;
}

.photograph-header p {
    color: #901C1C;
    font-size: 0.875rem;
    font-weight: 100;
    margin: 5px 0 0 0;
}

.photograph-header p+p {
    color: grey;
    font-size: 0.75rem;
    font-weight: 100;
    margin: 15px 0 0 0;
}

.contact_button {
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    transition: 400ms ease-in-out;
    margin-top: 1.25rem;
}

.contact_button:hover {
    cursor: pointer;
    filter:drop-shadow(0 0 0.5rem #D3573C)
}

#contact_modal {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
  }

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal header {
    justify-content: space-between;
    width: 100%;
    min-height: 130px;
    margin-bottom: -10px;
}

.modal header img {
    cursor: pointer;
    align-self: flex-start;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 160px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 2.25rem;
    margin-top: 1.25rem;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-top: 1.875rem;
}

form input {
    width: 100%;
    height: 4.25rem;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
}

form textarea {
    width: 100%;
    height: 12.75rem;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
}

.media {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
    gap: 5rem 1rem;
    margin: 50px 100px 0px 100px;
}

.media-item {
    width: 21.875rem;
    height: 18.75rem;
    transition: 400ms ease-in-out;
}

.media-item:hover {
    cursor: pointer;
    filter:drop-shadow(0 0 0.5rem #D3573C);
}

.media-item div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3.125rem;
    color: #901C1C;
}

.media-item div div {
    width: 12%;
    /* gap: 5px; */
}

/* Styles for the pictures */
.media-item img, video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* main {
    gap: 100px;
    display: flex;
    flex-direction: column;
} */

.box {
    display: flex;
    background-color: #D3573C;
    border-radius: 5px 5px 0px 0px;
    position: fixed;
    right: 2rem;
    bottom: 0;
    font-size: 1.125rem;
    padding: 0.938rem;
    width: fit-content;
    height: fit-content;
    text-align: center;
    align-items: center;
}

/* Styles for the lightbox overlay */
.lightbox-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

/* Styles for the lightbox content */
.lightbox-content {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

/* Style to center the image inside the lightbox */
.lightbox-content img, video {
    max-width: 100%;
    max-height: 80vh;
}