/* Import the photographer.css file */
@import url("photographer.css");

/* Reset the margin of the body and set the default font family */
body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

/* Styles for the header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

/* Styles for the title */
h1 {
    color: #901C1C;
    margin-right: 100px;
    font-weight: 100;
}

/* Styles for the logo */
.logo {
    height: 3.125rem;
    margin-left: 100px;
}

/* Styles for the photographers section */
.photographer_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    margin-top: 6.25rem;
}

/* Styles for photographer articles */
.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 1 30%;
}

/* Styles for photographer links */
.photographer_section article a {
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 400ms ease-in-out;
}

/* Styles on hover for photographer links */
.photographer_section article a:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 0.5rem #D3573C);
}

/* Styles for photographer images */
.photographer_section article img {
    border-radius: 50%;
    object-fit: cover;
    height: 200px;
    width: 200px;
}

/* Styles for photographer titles */
.photographer_section article h2 {
    color: #D3573C;
    font-size: 2.25rem;
    font-weight: 100;
    margin: 25px 0 0 0;
}

/* Styles for photographer paragraphs */
.photographer_section article p {
    color: #901C1C;
    font-size: 0.875rem;
    font-weight: 100;
    margin: 5px 0 0 0;
}

/* Styles for additional paragraphs */
.photographer_section article p+p {
    color: black;
    font-size: 0.625rem;
    font-weight: 100;
    margin: 5px 0 0 0;
}

/* Styles for additional paragraphs */
.photographer_section article p+p+p {
    color: grey;
    font-size: 0.625rem;
    font-weight: 100;
    margin: 5px 0 0 0;
}

/* Styles for focus on the entire site */
*:focus {
    outline: none;
    filter: drop-shadow(0 0 0.5rem #D3573C);
}