@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
    font-weight: 100;
}

.logo {
    height: 3.125rem;
    margin-left: 100px;
}

.photographer_section {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    margin-top: 6.25rem;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Flex-grow - Flex-shrink - Flex-basis */
    flex: 1 1 30%;
}

.photographer_section article a {
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 400ms ease-in-out;
}

.photographer_section article a:hover {
    cursor: pointer;
    filter:drop-shadow(0 0 0.5rem #D3573C)
}

.photographer_section article img {
    border-radius: 50%;
    object-fit: cover;
    height: 200px;
    width: 200px;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 2.25rem;
    font-weight: 100;
    margin: 25px 0 0 0;
}

.photographer_section article p {
    color: #901C1C;
    font-size: 0.875rem;
    font-weight: 100;
    margin: 5px 0 0 0;
}

.photographer_section article p+p {
    color: black;
    font-size: 0.625rem;
    font-weight: 100;
    margin: 5px 0 0 0;
}

.photographer_section article p+p+p{
    color: grey;
    font-size: 0.625rem;
    font-weight: 100;
    margin: 5px 0 0 0;
}

/* Styles pour le focus sur l'ensemble du site */
*:focus {
    outline: none; /* Pour supprimer la bordure par défaut du focus */
    filter: drop-shadow(0 0 0.5rem #D3573C); /* Style de focus basé sur le drop-shadow du :hover */
}